<h1>Listing topquotes</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @topquotes.each do |topquote| %>
  <tr>
    <td><%=h topquote.title %></td>
    <td><%= link_to 'Show', topquote %></td>
    <td><%= link_to 'Edit', edit_topquote_path(topquote) %></td>
    <td><%= link_to 'Destroy', topquote, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topquote', new_topquote_path %>