<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>


</head>
<body>
	<div class="bodycontainer">
		
		<div class="header">
			<p class="headline">gedankenschrott.net</p>

			<p class="topquote"><%= show_topquote %></p>
		</div>
		<div class="navigation">
		<p>Ego</p>
		<p>Gwundrig</p>
		<p>irgendwas</p>
		<p>archiv</p>
		<p>links</p>
		</div>
		
		
		<p class="flashnotice"><%= flash[:notice] %></p>

			<%= yield %>
	</div>

</body>
</html>
